/* Reset básico para limpar estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo para o container principal */
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

/* Estilo para o título principal */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Estilo para o campo de entrada de texto */
#inputNomeUsuario {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

/* Estilo para o botão */
button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo para a lista de repositorios */
#listaRepositorios {
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
}

#listaRepositorios li {
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    border-radius: 4px;
}

#listaRepositorios li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

#listaRepositorios li a:hover {
    text-decoration: underline;
}